@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
/*Pixelify*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*Montserrat*/
@import "tailwindcss";

@theme {
    --font-pixelify-sans: "Pixelify Sans", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --color-primary: #0E0E14;
    --color-button-primary: #4C3F77;
    --breakpoint-xs : 480px;
}

@layer base {
    body {
        min-height: 100dvh;
        background: #0E0E14;
        overflow-x: hidden;
        font-family: var(--font-montserrat);
    }

    main {
        @apply flex flex-col gap-[48px] md:gap-16 mb-6;
    }

    nav {
        @apply w-full min-h-[75px] bg-[#231D3A] border-[2px] border-[#0F0D19] flex items-center gap-4 justify-between px-4 md:px-10;
    }

    h1 {
        @apply font-pixelify-sans text-2xl md:text-4xl;
    }

    h2 {
        @apply text-xl md:text-2xl text-white font-bold;
    }
}

@layer components {
    .search {
        @apply w-full max-w-[600px] bg-[#1A162A] border-[2px] border-[#000000]/35 h-11 py-2 xs:h-9 rounded-full px-2 xs:py-1;

        & div {
            @apply relative flex items-center;
        }

        & img {
            @apply absolute h-5 w-5 left-1 object-contain;
        }

        & input {
            @apply w-full text-[12px] pl-8 text-white placeholder:text-white/75 py-1 bg-transparent outline-hidden truncate;
        }
    }

    .hero {
        @apply flex flex-col justify-center items-center gap-[20px] w-full h-max px-4 md:px-10;

        .main-liner {
            @apply text-[#ffffff] font-bold text-2xl md:text-6xl tracking-tighter text-center;
        }

        .sub-liner {
            @apply text-[#8e8e8e] text-center text-[14px] md:text-3xl tracking-tighter mb-5 md:mb-8;
        }

        .poster {
            @apply max-w-[814px] aspect-[4/3] w-full;
        }

        img {
            @apply w-full h-full;
        }
    }

    .button {
        @apply font-pixelify-sans text-white text-[18px] bg-[#4C3F77] px-6 py-1 flex justify-center items-center rounded-[14px] border-[4px] border-[#684F96] cursor-pointer hover:shadow-[0_7px_0_0_#3d3261] hover:-translate-y-[7px] transition-all duration-300 ease-in-out active:shadow-none active:translate-0 active:bg-[#332a50] active:border-[#503d73] active:text-[#a2a2a2] max-w-[200px];
    }

    .all-games {
        @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[20px];
    }

    .game {
        @apply h-[352px] border-[5px] border-[#9DD9D2] rounded-[20px] relative cursor-pointer hover:shadow-[0_8px_0_0_#608581] hover:-translate-y-[8px] active:shadow-none active:translate-0 transition-all duration-300 ease-in-out;

        & img {
            @apply w-full h-full rounded-[14px] object-cover select-none ;
        }

        .poster {
            @apply w-full h-full;
        }

        .poster::before {
            content: "";
            background: linear-gradient(transparent, black);
            width: 100%;
            height: 50%;
            bottom: 0;
            border-radius: 14px;
            position: absolute;
        }

        .details {
            @apply absolute bottom-2 left-4 text-white;
        }

        .title {
            @apply truncate max-w-[200px] text-[16px] md:text-xl md:max-w-[300px] lg:max-w-[400px];
        }

        .info {
            @apply text-[12px] md:text-[16px] text-[#D2D2D2] flex items-center gap-[5px];
        }
    }

    .authentication {
        @apply min-h-screen h-full flex justify-center items-center p-5;

        section {
            @apply max-w-[824px] w-full h-fit bg-white rounded-2xl relative pb-4
        }

        .auth-poster {
            @apply w-full aspect-[5/2] rounded-t-[14px] object-cover;
        }

        .auth-poster img {
            @apply w-full h-full rounded-t-[14px];
        }

        h2{
            @apply w-[75%] text-[#000000] lg:text-[#ffffff] text-center tracking-tight;
        }

        .cross-icon {
            @apply w-[15px] h-[15x] object-cover absolute top-[10px] left-[10px] cursor-pointer;
        }

        .heading {
            @apply w-full flex justify-center items-center lg:absolute ;
        }

        .input-fields {
            @apply w-full flex justify-center items-center px-5 mt-4;
        }

        .input-fields .all-inputs {
            @apply w-full flex flex-col gap-3;
        }

        .input-fields .all-inputs .input {
            @apply flex flex-col gap-1;
        }

        .btn {
            @apply border-[2px] border-[#000000]/75 rounded-full px-8 py-2 hover:bg-[#cbcbcb] active:bg-[#acacac] cursor-pointer;
        }

        .bottom {
            @apply text-center text-[14px] mt-4;
        }
    }

    .profile-icon {
        @apply min-w-[38px] min-h-[38px] max-w-[38px] max-h-[38px] flex justify-center items-end rounded-full border-[2px] border-[#ffffff] overflow-hidden cursor-pointer;

        img {
            @apply w-[75%] h-[75%] object-cover;
        }
    }

    .profile-info {
        @apply flex justify-center items-center md:justify-start md:items-start ;

        .profile-pic {
            @apply min-w-[180px] min-h-[180px] max-w-[180px] max-h-[180px] flex justify-center items-end rounded-full border-[2px] border-[#ffffff] overflow-hidden;
        }

        .profile-pic img {
            @apply w-[75%] h-[75%] object-cover;
        }

        .position {
            @apply flex flex-col gap-4 justify-center items-center;
        }

        .data {
            @apply flex flex-col gap-2 justify-center items-center md:items-start;
        }

        .data button {
            @apply text-white font-[600] border-2 border-[#ffffff] px-4 py-2 rounded-xl transition-all duration-200 ease-in-out cursor-pointer;
        }
    }

    .game-preview {
        @apply flex flex-col gap-[32px] px-4 md:px-10;

        .header {
            @apply flex flex-col gap-y-2 justify-between md:flex-row;
        }

        .icon {
            @apply flex items-center justify-center bg-[#579ED5] border-[#366183] border-2 rounded-[10px] gap-1 px-3 py-1;
        }

        .poster {
            @apply aspect-[4/2] w-full md:aspect-[6/2] rounded-2xl shadow-[0_5px_15px_0px_rgba(255,255,255,0.4)] ;
        }

        .poster img{
            @apply w-full h-full object-cover rounded-2xl;
        }

        .label {
            @apply self-start text-[#FF8811] font-bold;
        }

        .tag {
            @apply text-[#bababa] px-2 py-1 border-2 border-[#bababa] rounded-[10px] font-[500];
        }
    }
}